<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>有声书主页</title>
    <link rel="stylesheet" href="static/lib/layui/css/layui.css">
</head>
<body>
{#    <div id="header1">Hello 黄金瞳（郭益达）第1集</div>#}

{#    <video id="audiobook" controls="controls" autoplay="autoplay" style="width: 100%;height: 40px">#}
{#        <source src="http://audio.xmcdn.com/group11/M04/5B/C4/wKgDa1XkbuiRpU4HAJS7_MGC080254.m4a">#}
{#        <source src="static/resource/audiobook/huangjintong1.m4a">#}
{#        你的浏览器不支持audio标签#}
{#    </video>#}
    <button id="threadControl" class="layui-btn">启动线程</button>

    <script type="text/javascript" src="static/lib/layui/layui.js"></script>
    <script type="text/javascript" src="static/lib/jquery.min.js"></script>
    <script>
        var layer = layui.layer;
        {#setTimeout(quitmuted(), 5000);#}
        function quitmuted(){
            console.log('取消静音11111111111');
            var music = document.getElementById('audiobook');
            music.muted = false;
            music.play()
        }
        function autoclick(){
            console.log('双击btn');
            $("#audiobook").trigger("click");
            $("#header1").trigger("click");
            $("#header1").dblclick();
            $("#btn1").dblclick();
            $("#btn1").click();
        }
        function autoplay(){
            console.log('====================== autoplay');
            var music = document.getElementById("audiobook");  // 获取id
            if(music.pause){
                music.pause=false;
                music.play();
            }
        }
        window.onload = function () {
            {#setInterval("autoclick()",1000);#}
            {#setInterval("autoplay()",10000);#}
            {#setInterval("autoplay()", 1000);#}
            {#setInterval("autoclick()");#}
            console.log("页面加载，啥也不干！！")
        };

        $('#threadControl').click(function () {
            layer.msg("启动线程成功！！！");
            console.log('按钮内容= ', $('#threadControl').html());
            var btnstr = $("#threadControl").html();
            switch ($("#threadControl").html()) {
                case "关闭线程":
                    console.log('按钮设置成--》启动线程');
                    $('#threadControl').html('启动线程');
                    // 关闭线程 流程
                    $.ajax({
                       type: 'delete',
                       url: 'audiobook',
                       datatype: 'json'
                    });
                    break;
                case "启动线程":
                    console.log('按钮设置成--》关闭线程');
                    $('#threadControl').html('关闭线程');
                    // 启动线程 流程
                    $.ajax({
                        type: 'post',
                        url: '/audiobook',
                        datatype: 'json',
                    });
                    break;
            }
        });
    </script>
</body>
</html>