<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{#    <iframe allow="autoplay" src="http://10.0.0.177:5000/audiobook.html"></iframe>#}
{#    <iframe allow="autoplay" src="static/resource/audiobook/huangjintong1.m4a"></iframe>#}
{#    <iframe allow="autoplay" src="http://audio.xmcdn.com/group11/M04/5B/C4/wKgDa1XkbuiRpU4HAJS7_MGC080254.m4a"></iframe>#}
{#    <embed src="static/resource/audiobook/huangjintong1.m4a" width="370" height="250" loop="true" autostart="true">  <!-- 不行 -->#}
</body>
</html>